# Project 3
Benson Toi, Noah Collin, Ahmed Elsaeyed

### The first code section was copied from:
https://www.geeksforgeeks.org/python-gender-identification-by-name-using-nltk/
   
We do not take credit for this section

### Prompt:
Using any of the three classifiers described in chapter 6 of Natural 
Language Processing with Python, and any features you can think of,
 build the best name gender classifier you can. Begin by splitting the Names 
Corpus into three subsets: 500 words for the test set, 500 words for the dev-test set, 
and the remaining 6900 words for the training set. Then, starting with the example name 
gender classifier, make incremental improvements. Use the dev-test set to check your progress. Once you are satisfied 
with your classifier, check its final performance on the test set. How does the performance on the test set compare to the
 performance on the dev-test set? Is this what you'd expect?


Project is due 7/5.

Source: Natural Language Processing with Python, exercise 6.10.2.

In [1]:
# importing libraries
import random
import nltk
import pandas as pd
print("nltk version: {}".format(nltk.__version__))
print("pandas version: {}".format(pd.__version__))

nltk version: 3.7
pandas version: 1.4.2

In [2]:
#nltk.download('names')
from nltk.corpus import names

In [3]:
random.seed(1492) #To ensure consistency across notebooks

In [4]:
def gender_features(word):
  return {'last_letter': word[-1]} #returns a dictionary
gender_features('mahavir')
# output : {'last_letter': 'r'}

{'last_letter': 'r'}

In [5]:
# preparing a list of examples and corresponding class labels.
labeled_names = ([(name, 'male') for name in names.words('male.txt')]+
      [(name, 'female') for name in names.words('female.txt')])

random.shuffle(labeled_names)

# we use the feature extractor to process the names data.
featuresets = [(gender_features(n), gender)
      for (n, gender)in labeled_names]

# Divide the resulting list of feature
# sets into a training set and a test set.
train_set, test_set = featuresets[500:], featuresets[:500]

# The training set is used to
# train a new "naive Bayes" classifier.
classifier = nltk.NaiveBayesClassifier.train(train_set)

print("Mahavir classified as:",classifier.classify(gender_features('mahavir')))

# output should be 'male'
print(nltk.classify.accuracy(classifier, train_set))

# it shows accuracy of our classifier and
# train_set. which must be more than 99 %
classifier.show_most_informative_features(5)

Mahavir classified as: male
0.7628962923159591
Most Informative Features
             last_letter = 'a'            female : male   =     33.3 : 1.0
             last_letter = 'k'              male : female =     32.2 : 1.0
             last_letter = 'f'              male : female =     17.3 : 1.0
             last_letter = 'p'              male : female =     11.2 : 1.0
             last_letter = 'v'              male : female =     10.5 : 1.0

In [6]:
len(labeled_names)

7944

In [7]:
featuresets[:5]

[({'last_letter': 'y'}, 'male'),
 ({'last_letter': 'e'}, 'female'),
 ({'last_letter': 'h'}, 'female'),
 ({'last_letter': 'e'}, 'female'),
 ({'last_letter': 'd'}, 'female')]

In [8]:
classifier.show_most_informative_features(5)
# 10 indicates 10 rows

Most Informative Features
             last_letter = 'a'            female : male   =     33.3 : 1.0
             last_letter = 'k'              male : female =     32.2 : 1.0
             last_letter = 'f'              male : female =     17.3 : 1.0
             last_letter = 'p'              male : female =     11.2 : 1.0
             last_letter = 'v'              male : female =     10.5 : 1.0

#### The cells below were copied.  We do not take credit for this:
from https://www.nltk.org/book/ch06.html

In [9]:
def gender_features2(name):
    features = {}
    features["first_letter"] = name[0].lower()
    features["last_letter"] = name[-1].lower()
    for letter in 'abcdefghijklmnopqrstuvwxyz':
        features["count({})".format(letter)] = name.lower().count(letter)
        features["has({})".format(letter)] = (letter in name.lower())
    return features

In [10]:
count = 0
for i in gender_features2('John').items():
    print(i[0], ":\t", i[1])
    count +=1
    if count>=10:
        print("...")
        break

first_letter :	 j
last_letter :	 n
count(a) :	 0
has(a) :	 False
count(b) :	 0
has(b) :	 False
count(c) :	 0
has(c) :	 False
count(d) :	 0
has(d) :	 False
...

In [11]:
featuresets = [(gender_features2(n), gender) for (n, gender) in labeled_names]
train_set, test_set = featuresets[500:], featuresets[:500]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, test_set))

0.762

In [12]:
train_names = labeled_names[500:] 
devtest_names = labeled_names[500:1000] #per prompt instructions
test_names = labeled_names[:1000]

In [13]:
train_set = [(gender_features(n), gender) for (n, gender) in train_names]
devtest_set = [(gender_features(n), gender) for (n, gender) in devtest_names]
test_set = [(gender_features(n), gender) for (n, gender) in test_names]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, devtest_set))

0.744

In [14]:
errors = []
for (name, tag) in devtest_names:
    guess = classifier.classify(gender_features(name))
    if guess != tag:
        errors.append( (tag, guess, name) )
print("This mode made {} errors.  That's {}% of the devTest set.".format(\
                                                                         len(errors),
                                                                         round((len(errors) / len(devtest_set) ) *100,2)
                                                                        )
     )

This mode made 128 errors.  That's 25.6% of the devTest set.

In [15]:
def gender_features(word):
    return {'suffix1': word[-1:],
    'suffix2': word[-2:]}

In [16]:
train_set = [(gender_features(n), gender) for (n, gender) in train_names]
devtest_set = [(gender_features(n), gender) for (n, gender) in devtest_names]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, devtest_set))

0.774

## Students' Code

In [17]:
df1 = pd.DataFrame({"Approach": ["Last Letter Only (from NLTK book)", "First and Last Letter (from NLTK book)"],\
                    "Model Type":["Naive Bayes","Naive Bayes"],
                    "Train Size":[500,500], "Training split 50-50":[False, False], "Score": [.762,.777 ]})
df1.head()

,Approach,Model Type,Train Size,Training split 50-50,Score
0,Last Letter Only (from NLTK book),Naive Bayes,500,False,0.762
1,First and Last Letter (from NLTK book),Naive Bayes,500,False,0.777

In [18]:
print("There are {} males and {} females. \
{}% of the dataset is male.".format(\
                                 len([guy for guy in labeled_names if guy[1]=="male"]),
                                len([girl for girl in labeled_names if girl[1]=="female"]),
                                round( ( (len([guy for guy in labeled_names if guy[1]=="male"])/\
                                len(labeled_names))*100)\
                                ,2)
                                )
     )

There are 2943 males and 5001 females. 37.05% of the dataset is male.

### Hypothesis 1: 
#### Make the training set 50/50 by sex first to see if that alone will improve results.

In [19]:
newlyOrderedLabeled_names = []

In [20]:
#Create newly ordered labeled names list, where the first 250 will be male, 
#the second 250 will be female,
#and the rest are a random distribtion

#Don't run this cell more than once!
firstTwoFiftyMales=[]
secondTwoFiftyFemales =[]
labeled_names2 = labeled_names.copy() #passing by value, not reference
trainingSize = 500

malesNotYetSelected = True
femalesNotYetSelected = True

loopcounter = 0

if(trainingSize%2 !=0):
    print("Invalid training size.  Must be an even integer.  You will get invalid results...")

while(malesNotYetSelected | femalesNotYetSelected):
    if(malesNotYetSelected):
        rando = random.choice(range(len(labeled_names2)))
        if((labeled_names2[rando][1]=="male") & \
          (labeled_names2[rando] not in firstTwoFiftyMales) ):
            labeled_nameToBeAdded = labeled_names2.pop(rando) #We remove the random male...
            firstTwoFiftyMales.append(labeled_nameToBeAdded) #and put it in the first 250
    if(femalesNotYetSelected): #not elif
        rando = random.choice(range(len(labeled_names2)))
        if((labeled_names2[rando][1]=="female") & \
          (labeled_names2[rando] not in secondTwoFiftyFemales) ):
            labeled_nameToBeAdded = labeled_names2.pop(rando) #We remove the random female...
            secondTwoFiftyFemales.append(labeled_nameToBeAdded) #and put it in the Second 250
    loopcounter = loopcounter +1
    if(loopcounter %1000 == 0):
        print(loopcounter, "loops so far...")
        if(femalesNotYetSelected == False):
            print("Women already selected though.")
    if(len(firstTwoFiftyMales)>= trainingSize/2):
        malesNotYetSelected = False
    if(len(secondTwoFiftyFemales)>=trainingSize/2):
        femalesNotYetSelected = False
print(len(firstTwoFiftyMales), len(secondTwoFiftyFemales), len(labeled_names))

250 250 7944

In [21]:
newlyOrderedLabeled_names = firstTwoFiftyMales + secondTwoFiftyFemales + labeled_names2
print(len(newlyOrderedLabeled_names),  \
      len(newlyOrderedLabeled_names) == \
      (len(labeled_names2) + len(firstTwoFiftyMales) + len(secondTwoFiftyFemales) )\
     )
#the length is the same. If this bool isn't printing as True,  restart the kernel and 
#rerun the notebook

7944 True

In [23]:
#using the same gender_features2 for now, only changing traindata
featuresets = [(gender_features2(n), gender) for (n, gender) in newlyOrderedLabeled_names]
train_set, devtest_set, test_set = featuresets[500:],\
featuresets[500:1000],\
featuresets[:1000]

classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, test_set))

0.767

In [24]:
df1.loc[len(df1.index)] = ['First and Last Letter',"Naive Bayes",
                           500, True,nltk.classify.accuracy(classifier, test_set)]
df1

,Approach,Model Type,Train Size,Training split 50-50,Score
0,Last Letter Only (from NLTK book),Naive Bayes,500,False,0.762
1,First and Last Letter (from NLTK book),Naive Bayes,500,False,0.777
2,First and Last Letter,Naive Bayes,500,True,0.767

#### Making the training set 50-50 by sex did not improve results.
------------

### Hypothesis 2: 
#### Increase the size of the training data to 2000

In [25]:
firstTwoFiftyMales=[]
secondTwoFiftyFemales =[]
labeled_names2 = labeled_names.copy() #passing by value, not reference
trainingSize = 2000

femaleSelectedNotification = False

verboseLooping = False

malesNotYetSelected = True
femalesNotYetSelected = True

loopcounter = 0

if(trainingSize%2 !=0):
    print("Invalid training size.  Must be an even integer.  You will get invalid results...")

while(malesNotYetSelected | femalesNotYetSelected):
    if(malesNotYetSelected):
        rando = random.choice(range(len(labeled_names2)))
        if((labeled_names2[rando][1]=="male") & \
          (labeled_names2[rando] not in firstTwoFiftyMales) ):
            labeled_nameToBeAdded = labeled_names2.pop(rando) #We remove the random male...
            firstTwoFiftyMales.append(labeled_nameToBeAdded) #and put it in the first 250
    if(femalesNotYetSelected): #not elif
        rando = random.choice(range(len(labeled_names2)))
        if((labeled_names2[rando][1]=="female") & \
          (labeled_names2[rando] not in secondTwoFiftyFemales) ):
            labeled_nameToBeAdded = labeled_names2.pop(rando) #We remove the random female...
            secondTwoFiftyFemales.append(labeled_nameToBeAdded) #and put it in the Second 250
    loopcounter = loopcounter +1
    if((verboseLooping) & (loopcounter %400 == 0)):
        print(loopcounter, "loops so far...")
        if((femalesNotYetSelected == False) & (femaleSelectedNotification == False)):
            femaleSelectedNotification = True
            print("Women already selected though.")
            
    if(len(firstTwoFiftyMales)>= trainingSize/2):
        malesNotYetSelected = False
    if(len(secondTwoFiftyFemales)>=trainingSize/2):
        femalesNotYetSelected = False
        
print(len(firstTwoFiftyMales), "males", len(secondTwoFiftyFemales), "females, and", len(labeled_names2))
print("=", sum((len(firstTwoFiftyMales), len(secondTwoFiftyFemales), len(labeled_names2))))
if(sum((len(firstTwoFiftyMales), len(secondTwoFiftyFemales), len(labeled_names2))) ==\
  len(labeled_names)):
    print("expected length, success.")
else: #you shouldn't see this...
    print("""Something's wrong here.  The three parts of the list 
          (the first cohort of males, the second cohort of females, and the rest)
          are the wrong total length.""")

1000 males 1000 females, and 5944
= 7944
expected length, success.

In [26]:
featuresets = [(gender_features2(n), gender) for (n, gender) in newlyOrderedLabeled_names]
train_set, devtest_set, test_set = featuresets[:trainingSize],\
featuresets[trainingSize:trainingSize+500],\
featuresets[trainingSize+500:] #trainingSize set to 2000 earlier
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, test_set))

0.7698383541513593

In [27]:
df1.loc[len(df1.index)] = ['First and Last Letter',"Naive Bayes",
                           2000, True,nltk.classify.accuracy(classifier, test_set)]
df1

,Approach,Model Type,Train Size,Training split 50-50,Score
0,Last Letter Only (from NLTK book),Naive Bayes,500,False,0.762000
1,First and Last Letter (from NLTK book),Naive Bayes,500,False,0.777000
2,First and Last Letter,Naive Bayes,500,True,0.767000
3,First and Last Letter,Naive Bayes,2000,True,0.769838

#### Increasing our training data size to 2000 (conisiting of 1000 men and 1000 women) didn't improve our results much at all.
-------

### Hyptohesis 3: 
#### Two subsequent letters.

For example, Candice's feature would look like this:

Candice

has(an) True

has(ca) True

has(ce) True

has(di) True

has(ic) True

has(nd) True

In [28]:
def gender_features_EachTwoLetters(name):
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    features = {}
    for letter1 in alphabet:
        for letter2 in alphabet:
            tempTwoLetters = letter1 + letter2
            features["has({})".format(tempTwoLetters)] = (tempTwoLetters in name.lower())
    return features

In [29]:
featuresets = [(gender_features_EachTwoLetters(n), gender) for (n, gender) in labeled_names]

In [30]:
num = 3
print(labeled_names[num])
for i in featuresets[num][0]:
    if(featuresets[num][0][i]==True):
        print(i, featuresets[num][0][i])
#works as expected

('Kellie', 'female')
has(el) True
has(ie) True
has(ke) True
has(li) True
has(ll) True

In [31]:
labeled_names[:5]

[('Worthy', 'male'),
 ('Candice', 'female'),
 ('Janith', 'female'),
 ('Kellie', 'female'),
 ('Rozamond', 'female')]

In [32]:
featuresets = [(gender_features_EachTwoLetters(n), gender) for (n, gender) in newlyOrderedLabeled_names]
train_set, devtest_set, test_set = featuresets[:trainingSize],\
featuresets[trainingSize:trainingSize+500] ,\
featuresets[trainingSize+500:] #trainingSize set to 2000 earlier
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, test_set))

0.7244673034533431

In [33]:
df1.loc[len(df1.index)] = ['Sets of two adjacent letters',
                           "Naive Bayes",
                           2000 , True,nltk.classify.accuracy(classifier, test_set)]
df1

,Approach,Model Type,Train Size,Training split 50-50,Score
0,Last Letter Only (from NLTK book),Naive Bayes,500,False,0.762000
1,First and Last Letter (from NLTK book),Naive Bayes,500,False,0.777000
2,First and Last Letter,Naive Bayes,500,True,0.767000
3,First and Last Letter,Naive Bayes,2000,True,0.769838
4,Sets of two adjacent letters,Naive Bayes,2000,True,0.724467

##### The approach of just trying two adjacent letters alone didn't work.
----

# Hyptohesis 4:

#### Use both the last letter and the last three letters

In [35]:
def gender_features_last3(word):
    return {'suffix1': word[-1:],
    'suffix3': word[-3:]}

In [36]:
featuresets = [(gender_features_last3(n), gender) for (n, gender) in labeled_names]
train_set, devtest_set, test_set = featuresets[:500],\
featuresets[500:1000] ,\
featuresets[1000:]
devtest_set = [(gender_features_last3(n), gender) for (n, gender) in devtest_names]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print("dev test set:",nltk.classify.accuracy(classifier, devtest_set))
print("test set:",nltk.classify.accuracy(classifier, test_set))

dev test set: 0.764
test set: 0.7803859447004609

In [37]:
classifier.show_most_informative_features(5)

Most Informative Features
                 suffix1 = 'o'              male : female =     20.5 : 1.0
                 suffix1 = 'r'              male : female =     11.6 : 1.0
                 suffix1 = 's'              male : female =      8.3 : 1.0
                 suffix1 = 'b'              male : female =      3.9 : 1.0
                 suffix3 = 'lle'          female : male   =      3.6 : 1.0

In [38]:
errors = []
for (name, tag) in devtest_names:
    guess = classifier.classify(gender_features(name))
    if guess != tag:
        errors.append( (tag, guess, name) )

In [39]:
#Eyeball some underlying logic in the errors
for (tag, guess, name) in sorted(errors):
    print('correct={:<8} guess={:<8s} name={:<30}'.format(tag, guess, name))

correct=female   guess=male     name=Bren
correct=female   guess=male     name=Caren
correct=female   guess=male     name=Cass
correct=female   guess=male     name=Catlin
correct=female   guess=male     name=Celestyn
correct=female   guess=male     name=Cherilynn
correct=female   guess=male     name=Daveen
correct=female   guess=male     name=Deloris
correct=female   guess=male     name=Dion
correct=female   guess=male     name=Dorian
correct=female   guess=male     name=Edin
correct=female   guess=male     name=Esther
correct=female   guess=male     name=Farrand
correct=female   guess=male     name=Felicdad
correct=female   guess=male     name=Fiann
correct=female   guess=male     name=Gertrudis
correct=female   guess=male     name=Gretchen
correct=female   guess=male     name=Hesther
correct=female   guess=male     name=Hyacinth
correct=female   guess=male     name=Jemimah
correct=female   guess=male     name=Jessalyn
correct=female   guess=male     name=Jo
correct=female   guess=male     name=Joann
correct=female   guess=male     name=Jocelin
correct=female   guess=male     name=Kaitlynn
correct=female   guess=male     name=Kat
correct=female   guess=male     name=Katleen
correct=female   guess=male     name=Kerstin
correct=female   guess=male     name=Kristan
correct=female   guess=male     name=Leelah
correct=female   guess=male     name=Lulu
correct=female   guess=male     name=Madalyn
correct=female   guess=male     name=Madlin
correct=female   guess=male     name=Marlo
correct=female   guess=male     name=Mavis
correct=female   guess=male     name=Milicent
correct=female   guess=male     name=Min
correct=female   guess=male     name=Miriam
correct=female   guess=male     name=Moreen
correct=female   guess=male     name=Nadeen
correct=female   guess=male     name=Nonah
correct=female   guess=male     name=Pegeen
correct=female   guess=male     name=Rivkah
correct=female   guess=male     name=Ruthann
correct=female   guess=male     name=Sara-Ann
correct=female   guess=male     name=Sharon
correct=female   guess=male     name=Shirleen
correct=female   guess=male     name=Tamiko
correct=female   guess=male     name=Tarrah
correct=male     guess=female   name=Adlai
correct=male     guess=female   name=Ajai
correct=male     guess=female   name=Antone
correct=male     guess=female   name=Antony
correct=male     guess=female   name=Armstrong
correct=male     guess=female   name=Aubrey
correct=male     guess=female   name=Ave
correct=male     guess=female   name=Barthel
correct=male     guess=female   name=Beowulf
correct=male     guess=female   name=Berkley
correct=male     guess=female   name=Biff
correct=male     guess=female   name=Blaine
correct=male     guess=female   name=Blake
correct=male     guess=female   name=Bradly
correct=male     guess=female   name=Brice
correct=male     guess=female   name=Carlyle
correct=male     guess=female   name=Charlie
correct=male     guess=female   name=Christy
correct=male     guess=female   name=Clemmie
correct=male     guess=female   name=Darrel
correct=male     guess=female   name=Donny
correct=male     guess=female   name=Drake
correct=male     guess=female   name=Duffy
correct=male     guess=female   name=Hansel
correct=male     guess=female   name=Hartwell
correct=male     guess=female   name=Haskell
correct=male     guess=female   name=Henrie
correct=male     guess=female   name=Henrique
correct=male     guess=female   name=Jay
correct=male     guess=female   name=Jereme
correct=male     guess=female   name=Jerzy
correct=male     guess=female   name=Karel
correct=male     guess=female   name=Kingsley
correct=male     guess=female   name=Kingsly
correct=male     guess=female   name=Lefty
correct=male     guess=female   name=Leslie
correct=male     guess=female   name=Lex
correct=male     guess=female   name=Lonny
correct=male     guess=female   name=Lyle
correct=male     guess=female   name=Maury
correct=male     guess=female   name=Merrel
correct=male     guess=female   name=Mickie
correct=male     guess=female   name=Monroe
correct=male     guess=female   name=Morly
correct=male     guess=female   name=Mustafa
correct=male     guess=female   name=Nathanial
correct=male     guess=female   name=Nikolai
correct=male     guess=female   name=Noble
correct=male     guess=female   name=Olaf
correct=male     guess=female   name=Page
correct=male     guess=female   name=Pate
correct=male     guess=female   name=Pembroke
correct=male     guess=female   name=Randall
correct=male     guess=female   name=Randell
correct=male     guess=female   name=Raul
correct=male     guess=female   name=Reece
correct=male     guess=female   name=Reese
correct=male     guess=female   name=Rikki
correct=male     guess=female   name=Ruby
correct=male     guess=female   name=Rudolf
correct=male     guess=female   name=Samuele
correct=male     guess=female   name=See
correct=male     guess=female   name=Shane
correct=male     guess=female   name=Siffre
correct=male     guess=female   name=Skell
correct=male     guess=female   name=Slade
correct=male     guess=female   name=Sparky
correct=male     guess=female   name=Spike
correct=male     guess=female   name=Stearne
correct=male     guess=female   name=Sterne
correct=male     guess=female   name=Sting
correct=male     guess=female   name=Sydney
correct=male     guess=female   name=Tabbie
correct=male     guess=female   name=Timmy
correct=male     guess=female   name=Timothy
correct=male     guess=female   name=Torey
correct=male     guess=female   name=Tracy
correct=male     guess=female   name=Vijay
correct=male     guess=female   name=Wallache
correct=male     guess=female   name=Wiley
correct=male     guess=female   name=Witty
correct=male     guess=female   name=Yale
correct=male     guess=female   name=Zacharia

In [40]:
print("There were {}% erroneous guesses.".format(str\
                                                 (round( ( (len(errors) / len(devtest_set)) *100)
                                                         , 2) ) ) )

There were 26.4% erroneous guesses.

In [41]:
girlErrorCount=0
for i in errors:
    if i[0] =='female':
        girlErrorCount = girlErrorCount +1
print("Of the {} errors, {} were girls, or {}% of the errors.".format(\
                                                                  len(errors),
                                                                   girlErrorCount,
                                                                   round(
                                                                       (girlErrorCount /\
                                                                        len(errors) )*100,
                                                                       2 )
                                                                  ))

print("The devset contained {}% females.".format(\
                                                 round(\
                                                        (len([i for i in devtest_set if i[1]=='female'])) \
                                                       / len(devtest_set) *100
                                                       ,2)
                                                      )
     )

Of the 132 errors, 49 were girls, or 37.12% of the errors.
The devset contained 60.4% females.

In [42]:
df1.loc[len(df1.index)] = ['Last letter and last 3 letters',"Naive Bayes",
                           500 , False, nltk.classify.accuracy(classifier, test_set)]
df1

,Approach,Model Type,Train Size,Training split 50-50,Score
0,Last Letter Only (from NLTK book),Naive Bayes,500,False,0.762000
1,First and Last Letter (from NLTK book),Naive Bayes,500,False,0.777000
2,First and Last Letter,Naive Bayes,500,True,0.767000
3,First and Last Letter,Naive Bayes,2000,True,0.769838
4,Sets of two adjacent letters,Naive Bayes,2000,True,0.724467
5,Last letter and last 3 letters,Naive Bayes,500,False,0.780386

#### The last three letters has been the best approach so far.

### Hypothesis 5:
##### Decision Tree Approach using the last letter and last three letters

In [43]:
featuresets = [(gender_features_last3(n), gender) for (n, gender) in labeled_names]
train_set, devtest_set, test_set = featuresets[:500],\
featuresets[500:1000] ,\
featuresets[1000:]

classifier = nltk.DecisionTreeClassifier.train(train_set)
print("dev test set:",nltk.classify.accuracy(classifier, devtest_set))
print("test set:",nltk.classify.accuracy(classifier, test_set))

dev test set: 0.658
test set: 0.6718029953917051

In [45]:
print(classifier.pseudocode(depth=4)[:288], "...")

if suffix3 == 'Ace': return 'male'
if suffix3 == 'air': return 'male'
if suffix3 == 'ala': return 'female'
if suffix3 == 'ana': return 'female'
if suffix3 == 'ane': return 'male'
if suffix3 == 'ani': return 'female'
if suffix3 == 'ann': return 'female'
if suffix3 == 'ano': return 'male'
 ...

In [46]:
df1.loc[len(df1.index)] = ['Last letter and last 3 letters',"Decision Tree", 500 , False, nltk.classify.accuracy(classifier, test_set)]
df1

,Approach,Model Type,Train Size,Training split 50-50,Score
0,Last Letter Only (from NLTK book),Naive Bayes,500,False,0.762000
1,First and Last Letter (from NLTK book),Naive Bayes,500,False,0.777000
2,First and Last Letter,Naive Bayes,500,True,0.767000
3,First and Last Letter,Naive Bayes,2000,True,0.769838
4,Sets of two adjacent letters,Naive Bayes,2000,True,0.724467
5,Last letter and last 3 letters,Naive Bayes,500,False,0.780386
6,Last letter and last 3 letters,Decision Tree,500,False,0.671803

### Hypothesis 6:
##### Decision Tree Approach using the last letter, last three letters, and first letter, and the first two letters

In [49]:
def gender_features_lastThreeAndOne_andFirstOneAndTwo(word):
    return {'suffix1': word[-1:],
    'suffix3': word[-3:],
     "firstLetter" : word[0],
    "firstTwoLetters": word[:2]
           }

In [50]:
# Extract the features using the `gender_features()` function.
featuresets = [(gender_features_lastThreeAndOne_andFirstOneAndTwo(n), gender) for (n, gender) in labeled_names]

# Split the dataset into train and test set.
train_set, devtest_set, test_set = featuresets[:500],\
featuresets[500:1000],\
featuresets[1000:]

# Train a Decision Tree classifier
classifier = nltk.DecisionTreeClassifier.train(train_set)

In [51]:
print("dev test set:",nltk.classify.accuracy(classifier, devtest_set))
print("test set:",nltk.classify.accuracy(classifier, test_set))

dev test set: 0.654
test set: 0.6543778801843319

In [58]:
print(classifier.pseudocode(depth=4)[:499], "...")

if suffix3 == 'Ace': return 'male'
if suffix3 == 'air': return 'male'
if suffix3 == 'ala': return 'female'
if suffix3 == 'ana': return 'female'
if suffix3 == 'ane':
  if firstLetter == 'C': return 'male'
  if firstLetter == 'I': return 'female'
if suffix3 == 'ani': return 'female'
if suffix3 == 'ann': return 'female'
if suffix3 == 'ano': return 'male'
if suffix3 == 'any': return 'female'
if suffix3 == 'anz': return 'male'
if suffix3 == 'ard': return 'male'
if suffix3 == 'ari': return 'female'
 ...

In [59]:
df1.loc[len(df1.index)] = ['First letter, first 2 letters, last letter, and last 3 letters',
                           "Decision Tree",
                           500 , False, nltk.classify.accuracy(classifier, test_set)]
df1

,Approach,Model Type,Train Size,Training split 50-50,Score
0,Last Letter Only (from NLTK book),Naive Bayes,500,False,0.762000
1,First and Last Letter (from NLTK book),Naive Bayes,500,False,0.777000
2,First and Last Letter,Naive Bayes,500,True,0.767000
3,First and Last Letter,Naive Bayes,2000,True,0.769838
4,Sets of two adjacent letters,Naive Bayes,2000,True,0.724467
5,Last letter and last 3 letters,Naive Bayes,500,False,0.780386
6,Last letter and last 3 letters,Decision Tree,500,False,0.671803
7,"First letter, first 2 letters, last letter, an...",Decision Tree,500,False,0.654378

### Hypothesis 6:
##### Decision Tree Approach using combinations of two letters, the last three letters, and the first two letters

In [62]:
def gender_features_EachTwoLetters_LastThree_FirstTwo(name):
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    features = {}
    for letter1 in alphabet:
        for letter2 in alphabet:
            tempTwoLetters = letter1 + letter2
            features["has({})".format(tempTwoLetters)] = (tempTwoLetters in name.lower())
    features['suffix3']= name[-3:]
    features["firstTwoLetters"] =  name[:2]
    return features

In [64]:
featuresets = [(gender_features_EachTwoLetters_LastThree_FirstTwo(n), gender) for (n, gender) in labeled_names]

# Split the dataset into train and test set.
train_set, devtest_set, test_set = featuresets[:500],\
featuresets[500:1000],\
featuresets[1000:]

# Train a Decision Tree classifier
classifier = nltk.DecisionTreeClassifier.train(train_set)

In [65]:
print("dev test set:",nltk.classify.accuracy(classifier, devtest_set))
print("test set:",nltk.classify.accuracy(classifier, test_set))

dev test set: 0.656
test set: 0.6651785714285714

In [72]:
print(classifier.pseudocode(depth=4)[:422], "...")

if suffix3 == 'Ace': return 'male'
if suffix3 == 'air': return 'male'
if suffix3 == 'ala': return 'female'
if suffix3 == 'ana': return 'female'
if suffix3 == 'ane':
  if has(il) == False: return 'male'
  if has(il) == True: return 'female'
if suffix3 == 'ani': return 'female'
if suffix3 == 'ann': return 'female'
if suffix3 == 'ano': return 'male'
if suffix3 == 'any': return 'female'
if suffix3 == 'anz': return 'male'
 ...

In [73]:
df1.loc[len(df1.index)] = ['Combinations of 2 letters, first 2 letters, and last 3 letters',
                           "Decision Tree",
                           500 , False, nltk.classify.accuracy(classifier, test_set)]
df1

,Approach,Model Type,Train Size,Training split 50-50,Score
0,Last Letter Only (from NLTK book),Naive Bayes,500,False,0.762000
1,First and Last Letter (from NLTK book),Naive Bayes,500,False,0.777000
2,First and Last Letter,Naive Bayes,500,True,0.767000
3,First and Last Letter,Naive Bayes,2000,True,0.769838
4,Sets of two adjacent letters,Naive Bayes,2000,True,0.724467
5,Last letter and last 3 letters,Naive Bayes,500,False,0.780386
6,Last letter and last 3 letters,Decision Tree,500,False,0.671803
7,"First letter, first 2 letters, last letter, an...",Decision Tree,500,False,0.654378
8,"Combinations of 2 letters, first 2 letters, an...",Decision Tree,500,False,0.665179

### Hypothesis 7:
##### Decision Tree Approach using combinations of two letters, the last three letters, and the first two letters with larger normalized training set

In [76]:
def gender_features_EachTwoLetters_LastThree_FirstTwo(name):
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    features = {}
    for letter1 in alphabet:
        for letter2 in alphabet:
            tempTwoLetters = letter1 + letter2
            features["has({})".format(tempTwoLetters)] = (tempTwoLetters in name.lower())
    features['suffix3']= name[-3:]
    features["firstTwoLetters"] =  name[:2]
    return features

In [77]:
featuresets = [(gender_features_EachTwoLetters_LastThree_FirstTwo(n), gender) for (n, gender) in newlyOrderedLabeled_names]

# Split the dataset into train and test set.
train_set, devtest_set,  test_set = featuresets[:trainingSize],\
featuresets[trainingSize:trainingSize+500],\
featuresets[trainingSize+500:] #trainingSize set to 2000 earlier

# Train a Decision Tree classifier
classifier = nltk.DecisionTreeClassifier.train(train_set)

In [78]:
print("dev test set:",nltk.classify.accuracy(classifier, devtest_set))
print("test set:",nltk.classify.accuracy(classifier, test_set))

dev test set: 0.71
test set: 0.7184055841293167

I think it's a good thing that the dev test set and the test set have similar scores.  I believe it means the model isn't overfitted

In [83]:
print(classifier.pseudocode(depth=4)[:766], "...")

if suffix3 == 'Ace': return 'male'
if suffix3 == 'ace': return 'male'
if suffix3 == 'aco': return 'male'
if suffix3 == 'acy': return 'female'
if suffix3 == 'ada': return 'female'
if suffix3 == 'ade': return 'male'
if suffix3 == 'adi': return 'female'
if suffix3 == 'afa': return 'male'
if suffix3 == 'age': return 'male'
if suffix3 == 'aid': return 'female'
if suffix3 == 'aig': return 'male'
if suffix3 == 'ail':
  if has(kh) == False: return 'female'
  if has(kh) == True: return 'male'
if suffix3 == 'ain': return 'male'
if suffix3 == 'air':
  if has(ma) == False: return 'male'
  if has(ma) == True: return 'female'
if suffix3 == 'ake': return 'male'
if suffix3 == 'ako': return 'female'
if suffix3 == 'ala': return 'female'
if suffix3 == 'ald': return 'male'
 ...

In [80]:
df1.loc[len(df1.index)] = ['Combinations of 2 letters, first 2 letters, and last 3 letters',
                           "Decision Tree",
                           trainingSize , True, nltk.classify.accuracy(classifier, test_set)]
df1

,Approach,Model Type,Train Size,Training split 50-50,Score
0,Last Letter Only (from NLTK book),Naive Bayes,500,False,0.762000
1,First and Last Letter (from NLTK book),Naive Bayes,500,False,0.777000
2,First and Last Letter,Naive Bayes,500,True,0.767000
3,First and Last Letter,Naive Bayes,2000,True,0.769838
4,Sets of two adjacent letters,Naive Bayes,2000,True,0.724467
5,Last letter and last 3 letters,Naive Bayes,500,False,0.780386
6,Last letter and last 3 letters,Decision Tree,500,False,0.671803
7,"First letter, first 2 letters, last letter, an...",Decision Tree,500,False,0.654378
8,"Combinations of 2 letters, first 2 letters, an...",Decision Tree,500,False,0.665179
9,"Combinations of 2 letters, first 2 letters, an...",Decision Tree,2000,True,0.718406

Normalizing the training data and increasing its size slightly increased the score