# Project 3
Benson Toi, Noah Collin, Ahmed Elsaeyed

### The first code section was copied from:
https://www.geeksforgeeks.org/python-gender-identification-by-name-using-nltk/
   
We do not take credit for this section

### Prompt:
Using any of the three classifiers described in chapter 6 of Natural 
Language Processing with Python, and any features you can think of,
 build the best name gender classifier you can. Begin by splitting the Names 
Corpus into three subsets: 500 words for the test set, 500 words for the dev-test set, 
and the remaining 6900 words for the training set. Then, starting with the example name 
gender classifier, make incremental improvements. Use the dev-test set to check your progress. Once you are satisfied 
with your classifier, check its final performance on the test set. How does the performance on the test set compare to the
 performance on the dev-test set? Is this what you'd expect?


Project is due 7/5.

Source: Natural Language Processing with Python, exercise 6.10.2.

In [1]:
# importing libraries
import random
import nltk
import pandas as pd
print("nltk version: {}".format(nltk.__version__))
print("pandas version: {}".format(pd.__version__))

nltk version: 3.7
pandas version: 1.4.2

In [2]:
#nltk.download('names')
from nltk.corpus import names

In [3]:
random.seed(1492) #To ensure consistency across notebooks

In [4]:
def gender_features(word):
  return {'last_letter': word[-1]} #returns a dictionary
gender_features('mahavir')
# output : {'last_letter': 'r'}

{'last_letter': 'r'}

In [5]:
# preparing a list of examples and corresponding class labels.
labeled_names = ([(name, 'male') for name in names.words('male.txt')]+
      [(name, 'female') for name in names.words('female.txt')])

random.shuffle(labeled_names)

# we use the feature extractor to process the names data.
featuresets = [(gender_features(n), gender)
      for (n, gender)in labeled_names]

# Divide the resulting list of feature
# sets into a training set and a test set.
train_set, test_set = featuresets[500:], featuresets[:500]

# The training set is used to
# train a new "naive Bayes" classifier.
classifier = nltk.NaiveBayesClassifier.train(train_set)

print("Mahavir classified as:",classifier.classify(gender_features('mahavir')))

# output should be 'male'
print(nltk.classify.accuracy(classifier, train_set))

# it shows accuracy of our classifier and
# train_set. which must be more than 99 %
classifier.show_most_informative_features(5)

Mahavir classified as: male
0.7628962923159591
Most Informative Features
             last_letter = 'a'            female : male   =     33.3 : 1.0
             last_letter = 'k'              male : female =     32.2 : 1.0
             last_letter = 'f'              male : female =     17.3 : 1.0
             last_letter = 'p'              male : female =     11.2 : 1.0
             last_letter = 'v'              male : female =     10.5 : 1.0

In [6]:
len(labeled_names)

7944

In [7]:
featuresets[:5]

[({'last_letter': 'y'}, 'male'),
 ({'last_letter': 'e'}, 'female'),
 ({'last_letter': 'h'}, 'female'),
 ({'last_letter': 'e'}, 'female'),
 ({'last_letter': 'd'}, 'female')]

In [8]:
featuresets[-1][1]

'female'

In [9]:
classifier.show_most_informative_features(5)
# 10 indicates 10 rows

Most Informative Features
             last_letter = 'a'            female : male   =     33.3 : 1.0
             last_letter = 'k'              male : female =     32.2 : 1.0
             last_letter = 'f'              male : female =     17.3 : 1.0
             last_letter = 'p'              male : female =     11.2 : 1.0
             last_letter = 'v'              male : female =     10.5 : 1.0

#### The cells below were copied.  We do not take credit for this:
from https://www.nltk.org/book/ch06.html

In [10]:
def gender_features2(name):
    features = {}
    features["first_letter"] = name[0].lower()
    features["last_letter"] = name[-1].lower()
    for letter in 'abcdefghijklmnopqrstuvwxyz':
        features["count({})".format(letter)] = name.lower().count(letter)
        features["has({})".format(letter)] = (letter in name.lower())
    return features

In [11]:
count = 0
for i in gender_features2('John').items():
    print(i[0], ":\t", i[1])
    count +=1
    if count>=10:
        print("...")
        break

first_letter :	 j
last_letter :	 n
count(a) :	 0
has(a) :	 False
count(b) :	 0
has(b) :	 False
count(c) :	 0
has(c) :	 False
count(d) :	 0
has(d) :	 False
...

In [12]:
featuresets = [(gender_features2(n), gender) for (n, gender) in labeled_names]
train_set, test_set = featuresets[500:], featuresets[:500]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, test_set))

0.762

In [13]:
train_names = labeled_names[500:]
devtest_names = labeled_names[500:1500]
test_names = labeled_names[:1500]

In [14]:
train_set = [(gender_features(n), gender) for (n, gender) in train_names]
devtest_set = [(gender_features(n), gender) for (n, gender) in devtest_names]
test_set = [(gender_features(n), gender) for (n, gender) in test_names]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, devtest_set))

0.761

In [15]:
errors = []
for (name, tag) in devtest_names:
    guess = classifier.classify(gender_features(name))
    if guess != tag:
        errors.append( (tag, guess, name) )
print("This mode made {} errors.  That's {}% of the devTest set.".format(\
                                                                         len(errors),
                                                                         round((len(errors) / len(devtest_set) ) *100,2)
                                                                        )
     )

This mode made 239 errors.  That's 23.9% of the devTest set.

In [16]:
def gender_features(word):
    return {'suffix1': word[-1:],
    'suffix2': word[-2:]}

In [17]:
train_set = [(gender_features(n), gender) for (n, gender) in train_names]
devtest_set = [(gender_features(n), gender) for (n, gender) in devtest_names]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, devtest_set))

0.777

## Students' Code

In [18]:
df1 = pd.DataFrame({"Approach": ["Last Letter Only", "First and Last Letter"],\
                    "Train Size":[500,500], "Traing split 50-50":[False, False], "Score": [.762,.777 ]})
df1.head()

                Approach  Train Size  Traing split 50-50  Score
0       Last Letter Only         500               False  0.762
1  First and Last Letter         500               False  0.777

In [19]:
print("There are {} males and {} females. \
{}% of the dataset is male.".format(\
                                 len([guy for guy in labeled_names if guy[1]=="male"]),
                                len([girl for girl in labeled_names if girl[1]=="female"]),
                                round( ( (len([guy for guy in labeled_names if guy[1]=="male"])/\
                                len(labeled_names))*100)\
                                ,2)
                                )
     )

There are 2943 males and 5001 females. 37.05% of the dataset is male.

### Hypothesis 1: 
#### Make the training set 50/50 by sex first to see if that alone will improve results.

In [20]:
newlyOrderedLabeled_names = []

In [21]:
#Create newly ordered labeled names list, where the first 250 will be male, 
#the second 250 will be female,
#and the rest are a random distribtion

#Don't run this cell more than once!
firstTwoFiftyMales=[]
secondTwoFiftyFemales =[]
labeled_names2 = labeled_names.copy() #passing by value, not reference
trainingSize = 500

malesNotYetSelected = True
femalesNotYetSelected = True

loopcounter = 0

if(trainingSize%2 !=0):
    print("Invalid training size.  Must be an even integer.  You will get invalid results...")

while(malesNotYetSelected | femalesNotYetSelected):
    if(malesNotYetSelected):
        rando = random.choice(range(len(labeled_names2)))
        if((labeled_names2[rando][1]=="male") & \
          (labeled_names2[rando] not in firstTwoFiftyMales) ):
            labeled_nameToBeAdded = labeled_names2.pop(rando) #We remove the random male...
            firstTwoFiftyMales.append(labeled_nameToBeAdded) #and put it in the first 250
    if(femalesNotYetSelected): #not elif
        rando = random.choice(range(len(labeled_names2)))
        if((labeled_names2[rando][1]=="female") & \
          (labeled_names2[rando] not in secondTwoFiftyFemales) ):
            labeled_nameToBeAdded = labeled_names2.pop(rando) #We remove the random female...
            secondTwoFiftyFemales.append(labeled_nameToBeAdded) #and put it in the Second 250
    loopcounter = loopcounter +1
    if(loopcounter %1000 == 0):
        print(loopcounter, "loops so far...")
        if(femalesNotYetSelected == False):
            print("Women already selected though.")
    if(len(firstTwoFiftyMales)>= trainingSize/2):
        malesNotYetSelected = False
    if(len(secondTwoFiftyFemales)>=trainingSize/2):
        femalesNotYetSelected = False
print(len(firstTwoFiftyMales), len(secondTwoFiftyFemales), len(labeled_names))

250 250 7944

In [22]:
newlyOrderedLabeled_names = firstTwoFiftyMales + secondTwoFiftyFemales + labeled_names2
print(len(newlyOrderedLabeled_names),  \
      len(newlyOrderedLabeled_names) == \
      (len(labeled_names2) + len(firstTwoFiftyMales) + len(secondTwoFiftyFemales) )\
     )
#the length is the same. If this bool isn't printing as True,  restart the kernel and 
#rerun the notebook

7944 True

In [23]:
#using the same gender_features2 for now, only changing traindata
featuresets = [(gender_features2(n), gender) for (n, gender) in newlyOrderedLabeled_names]
train_set, test_set = featuresets[500:],\
featuresets[:500]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, test_set))

0.764

In [24]:
df1.loc[len(df1.index)] = ['First and Last Letter', 500, True,nltk.classify.accuracy(classifier, test_set)]
df1

                Approach  Train Size  Traing split 50-50  Score
0       Last Letter Only         500               False  0.762
1  First and Last Letter         500               False  0.777
2  First and Last Letter         500                True  0.764

#### Making the training set 50-50 by sex did not improve results.
------------

### Hypothesis 2: 
#### Increase the size of the training data to 2000

In [25]:
firstTwoFiftyMales=[]
secondTwoFiftyFemales =[]
labeled_names2 = labeled_names.copy() #passing by value, not reference
trainingSize = 2000

femaleSelectedNotification = False

verboseLooping = False

malesNotYetSelected = True
femalesNotYetSelected = True

loopcounter = 0

if(trainingSize%2 !=0):
    print("Invalid training size.  Must be an even integer.  You will get invalid results...")

while(malesNotYetSelected | femalesNotYetSelected):
    if(malesNotYetSelected):
        rando = random.choice(range(len(labeled_names2)))
        if((labeled_names2[rando][1]=="male") & \
          (labeled_names2[rando] not in firstTwoFiftyMales) ):
            labeled_nameToBeAdded = labeled_names2.pop(rando) #We remove the random male...
            firstTwoFiftyMales.append(labeled_nameToBeAdded) #and put it in the first 250
    if(femalesNotYetSelected): #not elif
        rando = random.choice(range(len(labeled_names2)))
        if((labeled_names2[rando][1]=="female") & \
          (labeled_names2[rando] not in secondTwoFiftyFemales) ):
            labeled_nameToBeAdded = labeled_names2.pop(rando) #We remove the random female...
            secondTwoFiftyFemales.append(labeled_nameToBeAdded) #and put it in the Second 250
    loopcounter = loopcounter +1
    if((verboseLooping) & (loopcounter %400 == 0)):
        print(loopcounter, "loops so far...")
        if((femalesNotYetSelected == False) & (femaleSelectedNotification == False)):
            femaleSelectedNotification = True
            print("Women already selected though.")
            
    if(len(firstTwoFiftyMales)>= trainingSize/2):
        malesNotYetSelected = False
    if(len(secondTwoFiftyFemales)>=trainingSize/2):
        femalesNotYetSelected = False
        
print(len(firstTwoFiftyMales), "males", len(secondTwoFiftyFemales), "females, and", len(labeled_names2))
print("=", sum((len(firstTwoFiftyMales), len(secondTwoFiftyFemales), len(labeled_names2))))
if(sum((len(firstTwoFiftyMales), len(secondTwoFiftyFemales), len(labeled_names2))) ==\
  len(labeled_names)):
    print("expected length, success.")
else: #you shouldn't see this...
    print("""Something's wrong here.  The three parts of the list 
          (the first cohort of males, the second cohort of females, and the rest)
          are the wrong total length.""")

1000 males 1000 females, and 5944
= 7944
expected length, success.

In [26]:
featuresets = [(gender_features2(n), gender) for (n, gender) in newlyOrderedLabeled_names]
train_set, test_set = featuresets[trainingSize:],\
featuresets[:trainingSize] #trainingSize set to 2000 earlier
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, test_set))

0.767

In [27]:
df1.loc[len(df1.index)] = ['First and Last Letter', 2000, True,nltk.classify.accuracy(classifier, test_set)]
df1

                Approach  Train Size  Traing split 50-50  Score
0       Last Letter Only         500               False  0.762
1  First and Last Letter         500               False  0.777
2  First and Last Letter         500                True  0.764
3  First and Last Letter        2000                True  0.767

#### Increasing our training data size to 2000 (conisiting of 1000 men and 1000 women) didn't improve our results much at all.
-------

### Hyptohesis 3: 
#### Two subsequent letters.

For example, Candice's feature would look like this:

Candice

has(an) True

has(ca) True

has(ce) True

has(di) True

has(ic) True

has(nd) True

In [28]:
def gender_features_EachTwoLetters(name):
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    features = {}
    for letter1 in alphabet:
        for letter2 in alphabet:
            tempTwoLetters = letter1 + letter2
            features["has({})".format(tempTwoLetters)] = (tempTwoLetters in name.lower())
    return features

In [29]:
featuresets = [(gender_features_EachTwoLetters(n), gender) for (n, gender) in labeled_names]

In [30]:
num = 3
print(labeled_names[num])
for i in featuresets[num][0]:
    if(featuresets[num][0][i]==True):
        print(i, featuresets[num][0][i])

('Kellie', 'female')
has(el) True
has(ie) True
has(ke) True
has(li) True
has(ll) True

In [31]:
labeled_names[:5]

[('Worthy', 'male'),
 ('Candice', 'female'),
 ('Janith', 'female'),
 ('Kellie', 'female'),
 ('Rozamond', 'female')]

In [32]:
featuresets = [(gender_features_EachTwoLetters(n), gender) for (n, gender) in newlyOrderedLabeled_names]
train_set, test_set = featuresets[trainingSize:],\
featuresets[:trainingSize] #trainingSize set to 2000 earlier
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, test_set))

0.7315

In [33]:
df1.loc[len(df1.index)] = ['Sets of two adjacent letters', 2000 , True,nltk.classify.accuracy(classifier, test_set)]
df1

                       Approach  Train Size  Traing split 50-50   Score
0              Last Letter Only         500               False  0.7620
1         First and Last Letter         500               False  0.7770
2         First and Last Letter         500                True  0.7640
3         First and Last Letter        2000                True  0.7670
4  Sets of two adjacent letters        2000                True  0.7315

##### The approach of just trying two adjacent letters alone didn't work.

#### Maybe we'll try the whole kitchen sink next
-----

## Hyptohesis 4:

#### The whole kitchen sink.  Combine all above approaches