# Project 3
Benson Toi, Noah Collin, Ahmed Elsaeyed

### The following code was copied, given:

reference: https://www.geeksforgeeks.org/python-gender-identification-by-name-using-nltk/
   
We do not take credit for this

In [3]:
# importing libraries
import random

import nltk

print("nltk version: {}".format(nltk.__version__))

nltk version: 3.7

In [4]:
#nltk.download('names')
from nltk.corpus import names

In [101]:
random.seed(1492)

In [104]:
def gender_features(word):
  return {'last_letter': word[-1]}
gender_features('mahavir')
# output : {'last_letter': 'r'}

{'last_letter': 'r'}

In [105]:
def gender_features(word):
  return {'last_letter':word[-1]}

# preparing a list of examples and corresponding class labels.
labeled_names = ([(name, 'male') for name in names.words('male.txt')]+
      [(name, 'female') for name in names.words('female.txt')])

random.shuffle(labeled_names)

# we use the feature extractor to process the names data.
featuresets = [(gender_features(n), gender)
      for (n, gender)in labeled_names]

# Divide the resulting list of feature
# sets into a training set and a test set.
train_set, test_set = featuresets[500:], featuresets[:500]

# The training set is used to
# train a new "naive Bayes" classifier.
classifier = nltk.NaiveBayesClassifier.train(train_set)

print(classifier.classify(gender_features('mahavir')))

# output should be 'male'
print(nltk.classify.accuracy(classifier, train_set))

# it shows accuracy of our classifier and
# train_set. which must be more than 99 %
# classifier.show_most_informative_features(10)

male
0.7620902740462118

In [103]:
len(labeled_names)

7944

In [7]:
classifier.show_most_informative_features(5)
# 10 indicates 10 rows

Most Informative Features
             last_letter = 'a'            female : male   =     34.4 : 1.0
             last_letter = 'k'              male : female =     31.3 : 1.0
             last_letter = 'v'              male : female =     17.6 : 1.0
             last_letter = 'f'              male : female =     16.7 : 1.0
             last_letter = 'p'              male : female =     11.2 : 1.0

The cells below were copied.  We do not take credit for this:
from https://www.nltk.org/book/ch06.html

In [8]:
def gender_features2(name):
    features = {}
    features["first_letter"] = name[0].lower()
    features["last_letter"] = name[-1].lower()
    for letter in 'abcdefghijklmnopqrstuvwxyz':
        features["count({})".format(letter)] = name.lower().count(letter)
        features["has({})".format(letter)] = (letter in name.lower())
    return features

In [142]:
count = 0
for i in gender_features2('John').items():
    print(i[0], ":\t", i[1])
    count +=1
    if count>=10:
        print("...")
        break

first_letter :	 j
last_letter :	 n
count(a) :	 0
has(a) :	 False
count(b) :	 0
has(b) :	 False
count(c) :	 0
has(c) :	 False
count(d) :	 0
has(d) :	 False
...

In [134]:
featuresets = [(gender_features2(n), gender) for (n, gender) in labeled_names]
train_set, test_set = featuresets[500:], featuresets[:500]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, test_set))

0.774

In [11]:
train_names = labeled_names[1500:]
devtest_names = labeled_names[500:1500]
test_names = labeled_names[:500]

In [12]:
train_set = [(gender_features(n), gender) for (n, gender) in train_names]
devtest_set = [(gender_features(n), gender) for (n, gender) in devtest_names]
test_set = [(gender_features(n), gender) for (n, gender) in test_names]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, devtest_set))

0.768

In [13]:
errors = []
for (name, tag) in devtest_names:
    guess = classifier.classify(gender_features(name))
    if guess != tag:
        errors.append( (tag, guess, name) )
print("This mode made {} errors.  That's {}% of the devTest set.".format(\
                                                                         len(errors),
                                                                         round((len(errors) / len(devtest_set) ) *100,2)
                                                                        )
     )

This mode made 232 errors.  That's 23.2% of the devTest set.

In [14]:
def gender_features(word):
    return {'suffix1': word[-1:],
    'suffix2': word[-2:]}

In [15]:
train_set = [(gender_features(n), gender) for (n, gender) in train_names]
devtest_set = [(gender_features(n), gender) for (n, gender) in devtest_names]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier, devtest_set))

0.771

### Our Code

In [16]:
num_males = 0
num_females=0
for i in labeled_names[10:]:
    if(i[1]=="male"):
        num_males+=1
        #print(i[0] +" is " + i[1]+".")
    elif(i[1]=="female"):
        #print(i[0] +" is " + i[1]+".")
        num_females +=1
    else:
        print(i[0] +" isn't properly labeled!")

print("There are {} males and {} females in the dataset.  That's {}% male.".format(\
                                                                                   num_males,
                                                                                   num_females,
                                                                                   round((num_males / len(labeled_names)*100),2)
                                                                                  ))

There are 2937 males and 4997 females in the dataset.  That's 36.97% male.

One possible approach is to make the training data 50-50 male/female

In [20]:
test1 = range(1000)

In [25]:
for i in test1[:10]:
    print(i, end=", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [96]:
a = list((random.choices(range(55), k =535)))

In [97]:
print(type(a))

<class 'list'>

In [98]:
a

[46,
 1,
 35,
 14,
 51,
 33,
 28,
 6,
 30,
 40,
 54,
 45,
 50,
 35,
 9,
 31,
 23,
 14,
 44,
 44,
 20,
 29,
 44,
 51,
 33,
 29,
 17,
 44,
 35,
 35,
 15,
 0,
 40,
 17,
 4,
 1,
 32,
 49,
 7,
 17,
 14,
 39,
 27,
 33,
 18,
 4,
 32,
 36,
 0,
 35,
 46,
 4,
 7,
 28,
 1,
 30,
 40,
 7,
 15,
 25,
 8,
 43,
 29,
 39,
 46,
 1,
 52,
 28,
 46,
 42,
 43,
 43,
 27,
 42,
 9,
 36,
 17,
 6,
 8,
 40,
 45,
 52,
 1,
 3,
 34,
 17,
 45,
 13,
 44,
 16,
 29,
 10,
 12,
 20,
 54,
 27,
 0,
 11,
 49,
 23,
 53,
 25,
 22,
 40,
 41,
 18,
 17,
 7,
 23,
 48,
 51,
 31,
 52,
 33,
 16,
 7,
 49,
 23,
 26,
 46,
 0,
 26,
 40,
 48,
 54,
 17,
 14,
 34,
 47,
 37,
 11,
 46,
 2,
 12,
 4,
 6,
 30,
 2,
 8,
 34,
 38,
 3,
 1,
 3,
 31,
 51,
 54,
 36,
 22,
 2,
 27,
 51,
 27,
 6,
 50,
 19,
 20,
 14,
 45,
 6,
 36,
 4,
 11,
 13,
 31,
 47,
 0,
 46,
 52,
 48,
 19,
 43,
 16,
 44,
 53,
 53,
 4,
 23,
 35,
 33,
 40,
 22,
 47,
 21,
 27,
 11,
 48,
 24,
 0,
 1,
 19,
 12,
 44,
 30,
 13,
 5,
 26,
 28,
 5,
 22,
 20,
 51,
 47,
 54,
 30,
 1,
 38,
 33,
 28,
 39,
 50,
 53,
 37,
 42,
 54,
 5,
 28,
 48,
 44,
 43,
 14,
 25,
 47,
 24,
 41,
 19,
 29,
 39,
 54,
 41,
 28,
 49,
 15,
 10,
 51,
 21,
 42,
 14,
 26,
 11,
 15,
 21,
 28,
 3,
 20,
 11,
 53,
 12,
 30,
 20,
 43,
 4,
 19,
 37,
 10,
 35,
 37,
 23,
 54,
 19,
 38,
 24,
 39,
 24,
 34,
 37,
 39,
 28,
 23,
 37,
 17,
 34,
 17,
 0,
 25,
 28,
 10,
 11,
 16,
 20,
 54,
 5,
 36,
 3,
 13,
 37,
 14,
 23,
 17,
 54,
 31,
 4,
 13,
 45,
 27,
 37,
 38,
 13,
 34,
 23,
 29,
 51,
 45,
 42,
 0,
 51,
 11,
 53,
 39,
 26,
 7,
 21,
 42,
 28,
 13,
 14,
 14,
 9,
 28,
 24,
 50,
 51,
 7,
 24,
 35,
 46,
 11,
 35,
 51,
 18,
 19,
 23,
 2,
 12,
 6,
 39,
 43,
 26,
 5,
 40,
 41,
 47,
 2,
 23,
 46,
 47,
 11,
 32,
 47,
 18,
 30,
 35,
 4,
 28,
 29,
 9,
 16,
 25,
 11,
 36,
 32,
 38,
 7,
 26,
 17,
 41,
 18,
 54,
 53,
 49,
 47,
 19,
 34,
 40,
 8,
 20,
 12,
 20,
 24,
 3,
 3,
 26,
 24,
 16,
 24,
 9,
 34,
 41,
 28,
 20,
 44,
 28,
 52,
 4,
 5,
 41,
 27,
 25,
 46,
 41,
 20,
 12,
 46,
 43,
 24,
 32,
 42,
 26,
 53,
 43,
 50,
 16,
 47,
 36,
 9,
 11,
 24,
 33,
 49,
 15,
 7,
 9,
 54,
 13,
 40,
 44,
 38,
 50,
 51,
 10,
 15,
 4,
 10,
 45,
 1,
 54,
 52,
 52,
 31,
 47,
 10,
 14,
 46,
 25,
 46,
 18,
 1,
 31,
 3,
 40,
 47,
 32,
 39,
 25,
 2,
 14,
 5,
 51,
 51,
 13,
 50,
 16,
 12,
 14,
 20,
 19,
 5,
 48,
 12,
 51,
 47,
 51,
 23,
 24,
 7,
 15,
 11,
 28,
 36,
 21,
 42,
 30,
 46,
 23,
 31,
 42,
 34,
 16,
 54,
 27,
 18,
 6,
 42,
 15,
 29,
 0,
 4,
 52,
 23,
 10,
 8,
 21,
 54,
 33,
 3,
 36,
 23,
 10,
 18,
 54,
 15,
 11,
 5,
 0,
 51,
 14,
 49,
 7,
 22,
 28,
 32,
 48,
 15,
 32,
 40,
 23,
 13,
 49,
 39,
 29,
 19,
 51,
 51,
 2,
 34]

In [99]:
a.sort()

In [100]:
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31, 31, 32, 32, 32, 32, 32, 32, 32, 32, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 36, 36, 36, 36, 37, 37, 37, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 41, 41, 41, 41, 41, 41, 41, 41, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 43, 43, 43, 43, 43, 43, 43, 43, 43, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 45, 45, 45, 45, 45, 45, 45, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 48, 48, 48, 48, 48, 48, 48, 49, 49, 49, 49, 49, 49, 49, 49, 50, 50, 50, 50, 50, 50, 50, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 52, 52, 52, 52, 52, 52, 52, 52, 53, 53, 53, 53, 53, 53, 53, 53, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54]

In [151]:
males = [guy for guy in labeled_names if guy[1]=="male"]
females = [girl for girl in labeled_names if girl[1]=="female"]
print("Again, there are {} males and {} females, so {}% of the dataset are male.".format(\
                                                                                      len(males),
                                                                                      len(females),
                                                                                      round( ( (len(males)/\
                                                                                                len(labeled_names))*100)\
                                                                                            ,2)
                                                                                      ) )

Again, there are 2943 males and 5001 females, so 37.05% of the dataset are male.

Let's try making the training set 50/50 first.